                        body {
                            background-color: #66FFFF;
                        }

                        .navbar{
                            width: 700px;
                            border: 0px solid yellow;
                            margin-right: auto;
                            margin-left: auto;
                            height: 50px;
                            position: relative;
                            margin-top: 20px;
                        }

                        .login{
                            border: 0px dotted green;
                            color: #000066;
                            float: right;
                            font-family: "Slackey", tahoma;
                            font-size: 16px;
                            position: absolute;
                            bottom:0;
                            right: 0;
                            text-decoration: none;
                        }

                        a.brand{
                            text-decoration: none;
                            color: #000066;
                            margin-bottom: 0px;
                            vertical-align: bottom;
                            font-family: 'Slackey', tahoma;
                            font-size: 29px;
                            font-weight: 700;
                            border: 0px solid blue;
                            float:left;
                            position: absolute;
                            bottom: 0;
                            padding: 0px;
                        }

                        .urlentry{
                            margin-top: 2px;
                            border: 0px solid red;
                            width: 700px;
                            margin-right: auto;
                            margin-left: auto;
                            padding: 20px;
                            background-color: white;
                        }


                        label{
                            font-family: "Slackey", tahoma;
                            font-size: 16px;
                        }

                        h3{
                            font-family: "Slackey", tahoma;
                            font-size: 20px;
                            margin-bottom: 0px;
                        }

                        h4{
                            font-family: "Open Sans", tahoma;
                            font-weight: 300;
                            font-size: 20px;
                        }

                        p{
                            font-family: "Open Sans", tahoma;
                            font-weight: 300;
                            font-style: italic;
                            font-size: 14px;
                            margin-top: 5px;
                        }

                        button{
                            font-family: "Ubuntu Mono", tahoma;
                            color: yellow;
                            margin-top: 15px;
                        }

                        .help-block{
                            font-family: "Open Sans", tahoma;
                            font-weight: 300;
                            color: gray;
                            font-size: 12px;
                        }

                        .btn {
                            margin-left: 0px;
                            margin-bottom: 15px;
                            background-color:#66FFFF;
                            -moz-border-radius:7px;
                            -webkit-border-radius:7px;
                            border-radius:7px;
                            border:2px solid black;
                            display:inline-block;
                            cursor:pointer;
                            color:black;
                            font-family:"Slackey";
                            font-size:16px;
                            text-decoration:none;
                          }

                        .btn:hover {
                            background-color:transparent;
                        }

                        .btn:active {
                            position:relative;
                            top:1px;
                        }

                        .form-group {
                            margin-top: 15px;
                            margin-bottom: 0px;
                        }

                        .signup{
                            margin-top: 10px;
                            border: 0px solid red;
                            width: 700px;
                            margin-right: auto;
                            margin-left: auto;
                            padding: 20px;
                            background-color: white;                           
                        }

                        .control-group{
                            margin-top: 15px;
                            margin-bottom: 0px;
                        }

                        .messages{
                            margin-top: 10px;
                            border: 0px solid red;
                            width: 700px;
                            margin-right: auto;
                            margin-left: auto;
                            padding: 20px;
                            background-color: white; 
                            color: #000066;
                        }

                        table {
                          border-collapse: collapse;
                          border: 1px solid #eee;
                        }

