<!DOCTYPE html>
<html lang="en-us">
        <head>
                <meta charset="utf-8">
                <title>NERP!</title>
                <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Slackey' rel='stylesheet' type='text/css'>
                <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,300" rel="stylesheet" type="text/css">
                <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet" type="text/css">
                <link rel="stylesheet" type="text/css" href="static/css/nerpstyle.css">
                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
                
        </head>

        
        <body>

            </div>
            <div class="navbar" role="navigation">
                <div>
                    <a class="brand" href="home.html">Bigtime Nerp Generator</a>
                </div>
                <div>
                    <a class="login" href="login.html">Log In</a>
                </div>
            </div>

            <div class="urlentry">
                <p>Have you ever looked at a URL and thought to yourself, "This is much too short. It needs to get NERPed bigtime."? Well, now you can NERP that shit! Just fill out the form below.</p>
                <hr>
                <form id="URLinput" role="form" action="http://people.ischool.berkeley.edu/~brian.carlo/server/shorts" method="post" target="_self">
                    <div class="form-group">
                        <label for="url">URL to convert: </label>
                        <input style="width: 400px;" name="url" id="url" type="text" value="" placeholder="http://">
                    </div>
                    <div class="form-group">
                        <label for="shortpath">Short path: </label>
                        <input name="shortpath" id="shortpath" type="text" value="">
                        <span class="help-block">Be sure to enter only letters. If you enter nothing, a path will be generated for you!</span>   
                    </div>
                    <button type="submit" id="submitbutton" class="btn">Generate</button>
                </form>

                <div class="messages">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h4>{{ message }}<h4>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                </div>

            <div class="signup">
                {% block body %}{% endblock %}
            </div>


            <script type=text/javascript>
            $(document).ready(function(){
                            var patt = /[^A-Za-z]/;
                            $('#shortpath').keyup(function() {
                                if(patt.test($('#shortpath').val())){
                                    $('button').addClass('disabled');
                                } else { 
                                    $('button').removeClass('disabled');
                                };
                            });
                        });


            $(function() {
                $("#submitbutton").click(function() {
                    $.ajax({
                        type: "POST",
                        url: "http://people.ischool.berkeley.edu/~brian.carlo/server/shorts",
                        contentType: "application/x-www-form-urlencoded; charset=utf-8",
                        data: { shortpath: $('input[name="shortpath"]').val() },
                        success: function(data) {
                            $('#shortpath').text(data.value);
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                });
            });

            </script>

        </body>
</html>