{% extends "layout.html" %}
{% block body %}



  <h3>Sign up for some serious Nerping </h3>

  <form action="" method=post class="form-horizontal">
    <div class="control-group">
        <div class="controls">
          <label for="email">Enter your email address: </label>
          <input type="email" id="email" name="email" class="input-xlarge"
            placeholder="Enter Email" value="{{ request.form.email }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <label for="password">Choose a password: </label>
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" value="{{ request.form.password }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Become a Nerper</button>
        </div>
    </div>
  </form>
{% endblock %}